*,
::after,
::before {
  box-sizing: border-box;
}

/* fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&subset=cyrillic');

:root {

  /* colors */

  --primary-50: #0095F6;
  --primary-100: #008069;
  --primary-150: #f0f2f5;
  --primary-200: #d9fdd3;
    

  /* other colros */
  ---black: #222;
  --red: #d93025;
  --red-light: #fce8e7;
  --green-dark: #0f5132;
  --white: #fff;
  --text-color: #3f4244;
  --light-text-color: #6f7f88;
  --border-color: #eaf1fb;

  /* fonts */

  --bodyFont: 'Cabin', Sans-Serif;

  --small-font-size: 1rem;
  --smaller-font-size: .8rem;
  --thick-font: 400;
  --thicker-font: 600;

  --borderRadius: .3rem;
  --transition: .3 ease-in-out all;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--bodyFont);
}

body {
  margin: 0;
  font-family: var(--bodyFont);
  color: var(--text-color);
  line-height: 1.75;
  font-weight: var(--thick-font);
}

h1, h2, h3, h4, p, img {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bd-grid {
  column-gap: 1rem;
}
.whatsapp-logo{
  width: 70px;
  height: auto;
  margin-bottom: .3rem;
}

.alert {
  font-size: .8rem;
  padding: .5rem;
}

.alert-danger {
  color: var(--red);
}

.alert-success {
  color: var(--green-dark);
}

.bd-container{
  max-width: 550px;
  width: calc(100% - 2rem);
  margin-top: 3rem;
  padding: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: .5rem;
  border: 1px solid var(--border-color);
} 


/* ===== Form Row Section ===== */

*,
*:focus{outline: none}


.form-item{
  position: relative;
  margin-bottom: 15px
}
.form-item input{
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  border: 1px solid var(--border-color);
  border-radius: var(--borderRadius);
  outline: none;
  padding: 1rem;
  background: none;
  z-index: 1;
  transition: all .3s ease;
  padding: 1rem;
}
.form-item input:focus{
  border: 1px solid var(--primary-100);
}
.form-item label{
  position: absolute;
  z-index: 2;
  top: 13px;
  left: 10px;
  font-size: 1rem;
  transition: all .3s ease;
  padding: 0 .3rem;
  background-color: var(--white);
  color: #80868b;

}
.form-item input:focus + label,
.form-item input:valid + label{
  font-size: .8rem;
  top: -12px
}
.form-item input:focus + label{
  z-index: 10;
  color: var(--primary-100);
  transition: 0.3s;
  font-size: .75rem;
}

/* ===== Register Section ===== */

.rh-title {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: var(--thicker-font);
}

.img-preview-container {
  margin-bottom: 1rem;
  text-align: center;
}

.img-prev-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-prev {
  width: 180px;
  height: 180px;
  border-radius: 100%;
}

.upload-text {
  position: absolute;
  margin-top: 4.5rem;
  color: var(--primary-100);
}

.upload-btn {
  visibility: hidden;
}

.signin-btn {
  background: none;
  color: var(--primary-100);
  border: none;
  font-size: .9rem;
}


.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.submit-btn {
  background-color: var(--primary-100);
  color: var(--white);
  padding: .75rem 1.5rem;
  border: none;
  font-size: .9rem;
  text-decoration: none;
  border-radius: var(--borderRadius);
}

.submit-btn:disabled {
  background-color: var(--primary-200);
}

/* =========== Dashboard ========*/

.dashboard {
  width: 100% ;
  max-width: 1020px;
  background-color: var(--white);
}



/* ===== Navbar ======= */

.navbar-container {
 background-color: var(--primary-100);
  
}

.nav-content {
  display: flex;
  justify-content: space-between;
  max-width: 1020px;
  width: 100%;
  height: 3rem;
  padding: 0 1rem;
  align-items: center;
}
.user-icon {
  font-size: 1.5rem;
  color: var(--white);
}
.nav-icon {
  font-size: 1.3rem;
  color: var(--white);
  margin-left: 1rem;
}
.ja {
  font-size: 40rem;
}

/* ===== Homepage =======*/

.omepage-container {
  position: relative;
  max-width: 420px;
  width: 100%;
  height: 93vh;
  background-color: var(--white);
}

.add-contact-btn {
  position: absolute;
  right: 2rem;
  bottom: 1rem;
  padding: .5rem;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  text-decoration: none;
  background-color: var(--green-dark);
}

.contact-plus-btn {
  color: var(--white);
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

/* ======= Search ======== */

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: .5rem;
  border-bottom: 1px solid var(--border-color);
}

.sc-btn {
  font-size: 1.2rem;
}

.search-btn {
  margin-top: .3rem;
  margin-right: 1.5rem;
}

.filter-btn {
  font-size: 1.5rem;
}

.sbtn-sinput {
  display: flex;
  align-items: center;
  padding: .3rem 1rem;
  border-radius: .75rem;
  background-color: var(--primary-150);
  width: 90%;
}

.search-input {
  border: none;
  outline: none;
  width: 100%;
  font-size: .8rem;
  background: none;
  
}

/* ===== Contacts ====== */

.profile-img {
  width: 45px;
  height: 45px;
  border: 1px solid green;
  object-fit: cover;
  border-radius: 100%;
  
}

.allcontacts-container {
  height: 82vh;
  margin-top: .5rem;
  margin-left: .5rem;
  overflow-y: scroll;
  
}

.contacts-content {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.cc-name-time {
  display: flex;
  width: 100%;
  padding: .2rem .75rem;
  border-bottom: 1px solid var(--border-color);
  justify-content: space-between;
  color: var(--text-color);
}
.cc-name-msg-grid {
  line-height: 1.65;
}

.cc-name {
  font-weight: var(--thick-font);
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--text-color);
  
}

.cc-msg, .cc-time {
  font-size: .75rem;
  color: var(--text-color);
}

/* ======= Default Messages  =======*/

.wweb-container {
  position:absolute;
  right: 25%;
  top: 40%;
  text-align: center;
}

.ww-title {
  font-size: 1.8rem;
  font-weight: var(--thick-font);
}

.ww-text {
  font-size: .8rem;
}


/* ======== Messages Container ==========*/
.sidebar-container {
  position: fixed;
  z-index: 1;
  top: 0;
  height: 100%;
  max-width: 1020px;
  width: 100%;
  background-color: var(--primary-250);
  padding: 0;
  box-shadow: 3px 0 0px -2px rgba(173, 173, 173, 0.5);
  border-top-right-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
  transition: all .5s;


}



.contacts-container {
  visibility: visible;
}

.show-contacts {
  visibility: hidden;
}




.msgs-header {
  width: 100%;
  position: fixed;
  display: flex;
  padding: .12rem .5rem;
  justify-content: space-between;
  background-color: var(--primary-100);
  z-index: 1;
  max-width: 1020px;
}
.lmsgs-flex, .rmsgs-flex  {
  display: flex;
  align-items: center;
  
}

.navm-name {
  font-weight: var(--thick-font);
  margin-left: 1rem;
  font-size: 1rem;
  color: var(--white);
}
.arrow-btn {
  font-size: 2rem;
  margin-right: .5rem;
  color: var(--white);
}
.rm-btn {
  font-size: 1.3rem;
  margin-left: 1.5rem;
  color: var(--white);
}

.msgs-content {
  width: 100%;
  overflow-y: scroll;
  height: 93.5vh;
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  padding-top: 4rem;
}


.sent,
.received {
  max-width: 250px;
  width: 100%;
  position: relative;
  display: block;
  margin: .5rem;
  border-radius: var(--borderRadius);
  overflow-wrap: break-word;
  
}

.sent {
  margin-left: auto;
  background-color: var(--primary-200);
}

.received {
  background-color: var(--white);
}

.each-message {
  display: block;
  padding: .5rem;
}
.each-text {
  margin-bottom: 1rem;
  font-size: .85rem;
}

.each-time {
  position: absolute;
  right: 1rem;
  bottom: .2rem;
  font-size: .75rem;
  color: var(--light-text-color);
}


/* ======= Add Contact ====== */

.add-contact-container {
  margin-top: 1rem;
  box-shadow: 0 2px 4px rgb(3 74 40 / 15%);
  max-width: 500px;
  width: calc(100% - 2rem);
  height: 50vh;
  margin-left: 1rem;
  padding: 2rem 1rem;
  border-radius: var(--borderRadius);
  background-color: var(--white);
}

.addc-title {
  font-weight: var(--thick-font);
  margin-bottom: 1rem;
}
.adc-input {
  width: 100%;
  border: 1px solid var(--border-color);
  outline: none;
  padding: .75rem 1rem;
}

.addu-container {
  height: 30vh;
  overflow-y: scroll;
}

.adcbtn {
  display: flex;
  width: 100%;
  text-decoration: none;
  margin-top: .5rem;
  
}

.abc-icon {
  font-size: 2rem;
  margin-right: .5rem;
  
}
.adcbtn-grid  { 
  line-height: 1rem;
}

.adcbtn-name {
  font-size: .8rem;
  margin: 0;
  padding: 0;
  color: var(--text-color);
 
}

.adcbtn-text {
  color: var(--green-dark);
  font-size: .8rem;
 
}

.no-users {
  font-size: .8rem;
  text-align: center;
  margin-top: 1rem;
}



/* ====== Chat Input ========*/

.message-form-container {
  bottom: 0;
  background-color: var(--primary-150);
  padding: .75rem 1rem;
  width: 100%;
  align-items: center;
}



.message-form {
  display: flex;
}

.left-mf {
  display: flex;
  align-items: center;
}
.right-mf {
  width: 100%;
  display: flex;
}
.mf-btn {
  color: var(--text-color);
  font-size: 1.2rem;
}
.lmf-btn {
  margin-right: 1rem;
}

.rmf-btn {
  margin-left: 1rem;
}
.mf-input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: var(--borderRadius);
  padding: .5rem 1.5rem;
  font-size: .9rem;
  height: 35px;
  resize: none;
}

.emoji-container {
  position: absolute;
  margin-bottom: .5rem;
  bottom: 3.5rem;
  left: 0;
  width: 100%;
}


@media screen and (min-width: 500px) {
  .bd-container,
  .nav-content,
  .dashboard,
  .sidebar-container,
  .add-contact-container {
    margin-left: auto;
    margin-right: auto;
  }
}



